version: '3.3'

services:
    backend:
        build:
            context: ./backend
        volumes: 
            - ./backend:/app
        command: /start.sh
        restart: on-failure
        ports: 
            - "8001:8000"

    frontend:
        build: 
            context: ./frontend
        command: npm run serve
        volumes:
            - ./.env:/app/.env:ro
            - ./frontend:/app
        command: npm run serve
        restart: on-failure
        ports: 
            - "8002:8080"